**/.vscode/**
**/.cache/**
**/__pycache__/**

**/build/**
**/build32/**
**/build64/**
**/buildjs/**

**/android/.cxx
**/android/.gradle

**/bin/**
**/bin-ints/**

**/.zig-cache/**
**/zig-out/**

00_docs/